<div class="main">
    <div class="listDiv">
        <mat-selection-list role="list" [multiple]="false">
            <a href="about#aboutus_section">
                <mat-list-option>
                    About Us
                </mat-list-option>
            </a>

            <a href="about#principal_section">
                <mat-list-option>
                    Principal
                </mat-list-option>
            </a>

            <a href="about#main_office_section">
                <mat-list-option>
                    Main Office
                </mat-list-option>
            </a>

            <a href="about#mission_statement_section">
                <mat-list-option>
                    Mission Statement
                </mat-list-option>
            </a>

            <a href="about#school_profile_section">
                <mat-list-option>
                    School Profile
                </mat-list-option>
            </a>

            <a href="about#fight_song_section">
                <mat-list-option>
                    Fight Song
                </mat-list-option>
            </a>

            <a href="about#alma_mater_section">
                <mat-list-option>
                    Alma Mater Song
                </mat-list-option>
            </a>
        </mat-selection-list>  
    </div>
    <div class="textDiv">

        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2997.9041448516314!2d17.85419299517343!3d43.90979590477091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x475f15f481a1b9f3%3A0xdb7d003db7e902b3!2sFojnica!3m2!1d43.9346496!2d17.8996137!5e1!3m2!1sen!2sba!4v1608394695328!5m2!1sen!2sba" 
        width="600" 
        height="450" 
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="" 
        aria-hidden="false" 
        tabindex="0"></iframe>

        <h1 id="aboutus_section">About Us</h1>
        <p>
            Welcome to Roseburg High School

            Roseburg High School is the largest high school in Douglas County, with a student body of about 1,519
            students.
        </p>
        <h1 id="principal_section">Principal</h1>
        <p>
            <a href="https://en.wikipedia.org/wiki/Aleksandr_Karelin">Jill Weber</a>
        </p>
        <h1 id="main_office_section">Main office</h1>
        <p>
            Phone: (541) 440-4142

            Fax: (541) 440-8296

            For your convenience, we also offer an email option for general inquiries and questions. These messages are
            checked often and routed to the appropriate person or office to be answered as soon as possible. If you
            would
            like to use this option, please remember to leave your complete contact information so we can better assist
            you.

            Email: askRHS@roseburg.k12.or.us
        </p>
        <h1 id="mission_statement_section">Mission Statement</h1>
        <p>
            Roseburg High School is a place of opportunity to attain knowledge and become productive, independent
            citizens
            who live PRIDE!
        </p>
        <h1 id="school_profile_section">School Profile</h1>
        <p>
            2018-2019 School Report Card

            2017-2018 Academic Profile

            2017 AP Testing Summary

            2017-2018 Parent Guide

            2016 Athletic Team Achievements

            Special Education Report Card - April 2017

            2020 Immunization Report: English / Spanish
        </p>
        <h1 id="fight_song_section">Fight Song</h1>

        <p>
            On Roseburg High School
            Fighting for our fame.
            We won't let the sons of ____ (fill in with the team we are playing)
            Put our names to shame.
            Rah Rah Rah
            On Roseburg High School
            Victory is our aim.
            Fight for the right,
            Oh fight for the right
            To call it the Indian game.
        </p>

        <h1 id="alma_mater_section">Alma Mater</h1>

        <p>
            Hail, old Roseburg, hail,
            Alma mater hail.
            We'll give our all for thee,
            Orange and the black.
            From the Umpqua's banks,
            sound the call afar.
            In defeat or victory
            It's hail, old Roseburg, hail.
        </p>
    </div>
</div>
<!--
    <a href="about#aboutus_section">About us</a>
        <a href="about#principal_section">Principal</a>
        <a href="about#main_office_section">Main Office</a>
        <a href="about#mission_statement_section_section">Mission Statement</a>
        <a href="about#school_profile_section_section">School Profile</a>
        <a href="about#fight_song_section">Fight Song</a>
        <a href="about#alma_mater_section">Alma Mater Song</a>
-->