<div class = "main">
  <form class="contact-form" [formGroup] = "form" (submit)="onSaveReport()">
    
    <mat-form-field class="contact-name">
      <mat-label>Your name</mat-label>
      <input 
      matInput
      placeholder="nameMan"
      formControlName = "name" 
      value="Name Surname">
    </mat-form-field>
    
    <br>
    
    <mat-form-field class="contact-email">
      <mat-label>Your email</mat-label>
      <input matInput placeholder="emailMan" formControlName = "email" value="bla_hri@grimail.com">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="contact-suggestion">
      <mat-label>Your suggestion</mat-label>
      <mat-select matInput formControlName = "type">
        <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion.value">
          {{suggestion.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
  
    <mat-form-field class="contact-message">
      <mat-label>Leave your message</mat-label>
      <textarea matInput rows="4" formControlName = "message" placeholder="Your page is so awesome..."></textarea>
    </mat-form-field>
    <div class="buttonRow">
      <button mat-button type="submit">Submit</button>
    </div>
  </form>
  <div class="reports-div" *ngIf="userIsAuthenticated">
    <h1 class="report-header">Reports</h1>
    <div class = "reportsContainer">
      <mat-accordion>
        <mat-expansion-panel hideToggle multi = "true" *ngFor = "let report of reports">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ report.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ report.type }}
            </mat-panel-description>
            <mat-panel-description>
              {{ report.email }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ report.message }}</p>
          <button mat-button color="warn" (click)="onDelete(report.id)">DELETE</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>




